.header {
    display: flex;
    background: #111b21;
    color: white;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.chatsword {
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.icn {
    font-size: 24px;
    cursor: pointer;
    display: flex;
    gap: 15px; 
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: #2a3942;
    border-radius: 10px; 
    padding: 6px 10px;
    margin: 10px auto;
    width: 90%;
   
}

.searchIcon {
    font-size: 20px;
    color: #8696a0;
    margin-right: 10px;
}


.searchInput {
    border: none;
    background: transparent;
    outline: none;
    color: white;
    font-size: 14px;
}

.searchInput::placeholder {
    color: #8696a0;
}
.headermain {
    background: #111b21;
    padding-bottom: 5px;
}

.fbutton {
    background-color: #2a3942;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0 3px; 
}

.fbutton:hover {
    background-color: #3b4a54;
}

.fbutton:active {
    background-color: #8696a0;
    color: black;
}
.filterbutton {
    margin: 10px;
}