
.pheader{
    margin-left: 20px;
}

.imagep{
    width: 233px;
    height: 233px;
    border-radius: 50%;
    border-radius: 50%;
}
.imagecontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vw;
}
.yourname{
    font-size: 18px;
    color: rgb(47, 185, 185);
    margin-top: 3.5vw;
    margin-left: 40px;
}
.maincontainer{
    background-color: #111b21;
    height: 97vh;
}
.name{
    font-size: 21px;
    color: rgb(216, 225, 227);
    margin-top: 1.5vw;
    display: flex;
    justify-content: space-between;
}
.icon{
    cursor: pointer;
    color: rgb(152, 173, 177);
    margin-right: 46px;
}
.underyourname{
    font-size: 18px;
    color: rgb(216, 225, 227);
    margin-top: 2vw;
    margin-right: 50px;
}
.pabout{
    font-size: 18px;
    color: rgb(47, 185, 185);
    margin-top: 3.5vw;
    margin-left: 40px;
}
.abouticon{
    font-size: 19px;
    color: rgb(216, 225, 227);
    margin-top: 1.5vw;
    display: flex;
    justify-content: space-between;
}
.abouticon:hover{
    cursor: pointer;
}
.input {
    background: transparent;
    border: none;
    font-size: 21px;
    color: white;
    outline: none;
    border-bottom: 1px solid white;
}
